body{
    font-size: 12px;
}
.cb{
    clear: both;
}

/* 修正jquery ui bug */
.ui-widget-overlay{
    background-image:none;
}

/* jqgrid add notice */
.FormGrid .notice{
    color: #999999;
    margin: 1px 5px;
}
.EditTable .editor{
    width: 800px;
    height: 300px;
}